@font-face {
    font-family: "Arial", sans-serif;
    src: url('../fonts/ARIAL.TTF');
  }


:root {
	--basic-green: #68b738;
	--basic-grey: #f2f2f2;
	--special-grey-2: #ebebeb;
	--special-grey: #cdcdcd;
	--special-grey-2: #666;
	--special-dark-grey: #444;
	--special-dark-grey-2: #222;
	--status-error: #ff8282;
	--basic-green-2: #5eaa2f;
    --font-family: "Oswald", sans-serif;
    --second-family: "Arial", sans-serif;
}