@use 'global';
@use 'var';
@use 'reset';

.header {
    min-height: 100vh;
    margin-bottom: 82px;
    background-image: url('../images/promoBg.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 53px;
        .menu {
            .menu-list {
                display: flex;
                align-items: center;
                gap: 32px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 32px;
                color: #fff;
                text-transform: uppercase;
                &__item {
                    border-bottom: 2px solid transparent;
                    padding-bottom: 8px;
                    transition: all 0.3s;
                    &:hover {
                        border-bottom: 2px solid #fff;
                    }
                    &.active {
                        border-bottom: 2px solid #fff;
                    }
                }
            }
            
        }
        
    }
    
    .header-promo {
        min-height: calc(100vh - 100px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        .header-promo__info {
            padding-top: 111px;
            width: 415px;
            &-title {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 60px;
                line-height: 100%;
                color: #000;
                margin-bottom: 40px;
            }
            &-text {
                font-family: var(--font-family);
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;
                color: #000;
                margin-bottom: 52px;
            }
            &-btn {
                display: block;
                width: 244px;
                background: var(--basic-green);
                padding: 14px 0;
                border: none;
                font-family: var(--font-family);
                font-size: 20px;
                text-transform: uppercase;
                text-align: center;
                color: #fff;

            }
        }
       
        .header-promo__media {
            position: relative;
            width: 100%;
            height: auto;
            &-img {
                position: absolute;
                left: -30%;
            }
        }
        
    }
   
}

.goals {
    margin-bottom: 71px;
    .goals__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 80px;
        .goals-item {
            display: inline-block;
            background: var(--basic-grey);
            padding: 41px 51px 55px 52px;
            &__head {
                display: flex;
                align-items: center;
                gap: 62px;
                margin-bottom: 39px;
            }
            &__img {                
                width: 100px;
                height: 100px;
                background-color: var(--basic-green);
                position: relative;
                border-radius:50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    
                }
            }
            &__title {font-family: var(--font-family);
                font-weight: 400;
                font-size: 36px;
                line-height: 100%;
                text-transform: uppercase;
                color: #000;
            }
            &__descr {
                color: #000;
                margin-bottom: 23px;
            }
            &__link {
                font-family: var(--font-family);
                font-size: 20px;
                text-transform: uppercase;
                color: #000;
                display: block;
                position: relative;
                padding-right: 60px;
                width: fit-content;
                &::after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url('../images/arrow.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 32px;
                    height: 10px;
                }
            }
        }
    }
    
   
}

.steps {
    margin-bottom: 69px;
    &__title {
        margin-bottom: 32px;
    }
   
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .steps-item {
        width: 230px;
        position: relative;
        padding-top: 40px;
        padding-bottom: 57px;
        &__img {
            padding: 24px;
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--basic-green);
            margin-bottom: 31px;
        }
        &__num {
            position: absolute;
            top: 0;
            right: 0;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 280px;
            line-height: 100%;
            text-align: center;
            color: var(--basic-grey);
            z-index: -1;
        }
    }
    
}

.example {    
    &__title {
        margin-bottom: 76px;
    }

    &-content {
        background: var(--basic-grey);
       
    }
    &__inner {   
        position: relative;    
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        padding-bottom: 75px;
        .example-info {
            max-width: 436px;
            &__text {
                color: var(--special-dark-grey);
                margin-bottom: 69px;
                
            }
            &__numbers {
                display: flex;
                gap: 42px;
                align-items: center;
                margin-bottom: 55px;
                &-item {
                    width: 162px;
                    padding-top: 15px;
                    border: 1px solid var(--special-dark-grey);
                    position: relative;
                }
                &-title {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 123%;
                    text-align: center;
                    color: #000;
                    margin-bottom: 11px;
                }
                &-text {
                    font-size: 14px;
                    line-height: 100%;
                    text-align: center;
                    color: var(--special-dark-grey);
                }
            }
            
            &__amount {
                display: flex;
                gap: 64px;
                align-items: center;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;
                text-align: center;
                color: #000;
                &-title {
                    font-family: var(--font-family);
                }
            }
           
        }
        
        .example-slider {
            .example-slider__img {
                position: absolute;
                top: -40%;
                right: 0;
            }
        }
    }
    
    
}

.map {
    &__inner {
        position: relative;
    }
    .map-info {
        position: absolute;
        top: 50px;
        left: 120px;
        width: 570px;
        background-color: #fff;
        padding: 62px 89px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__title {
            width: 163px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            line-height: 105%;
            text-transform: uppercase;
            color: #111;
        }
        &__text {
            width: 155px;
            margin-bottom: 19px;
            line-height: 125%;
            color: var(--special-dark-grey);
        }
    }
    
}

.footer {
    background: var(--basic-grey);
    padding: 58px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer__img {
        }
        .social-list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 27px;
            .social-list__item {
                width: 23px;
                height: 23px;
            }
        }
        
        .author-img {
        }
    }
    
}
